<!-- action specifies the URL that will be used when submitting the form
name enables you to name each parameter corresponding to each input of the form.
Replace the ??? so that your form send a request to QuestionsController#answer with a good parameter name. -->
<!-- <form action="/answer">
  <input type="text" name="question">
  <input type="submit" value="Ask!">
</form> -->


<div class="container">
  <form action="/answer">
    <div class="form-group">
      <label for="exampleInputEmail1">Question</label>
      <input type="text" name="question">
      <!-- <input type="submit" value="Ask!"> -->
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
